body{
  text-align: center;
}
.player-icon img{
  border-radius: 50%;
}
.square {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #999;
  transition: background-color 0.3s;
}
.square.X {
  color: skyblue;
  font-size: 100px;
  font-style: bold;
  text-shadow: 4px 4px 8px rgba(19, 44, 170, 0.5);
}
.square.O {
  color: orange;
  font-size: 100px;
  font-style: bold;
  text-shadow: 4px 4px 8px rgba(219, 86, 46, 0.5);
}
.square:hover {
  background-color: #f0f0f0;
}
.large-square {
  width: 120px; /* Increase the width to make the square larger */
  height: 120px; /* Increase the height to make the square larger */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  animation: celebration 1s ease-in-out;
}

@keyframes celebration {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.modal-content button {
  padding: 10px 20px; 
  font-size: 16px;   
  background-color: #4CAF50; 
  color: white;       
  border: none;       
  border-radius: 5px;  
  cursor: pointer;    
}

.modal-content button:hover {
  background-color: #45a049; 
}